* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #0a0a0a;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(252, 75, 75, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
  }
   
  h1 {
    font-size: 150px;
    text-align: center;
    color: #f5eeee;
    position: relative;
    transition: transform 0.3s ease-in-out; 
  }

  h1:hover {
    transform: scale(1.1);  
    color: #fff; 
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff;
  }

  #reset-btn {
    padding: 1rem;
    font-size: 2.25rem;
    background-color: #f7f7f5;
    color: #180808;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px cyan ,
    0 0 25px cyan ;
  }
   
  #reset-btn:hover  {
   box-shadow:  0 0 5px cyan ,
    0 0 25px cyan ,
    0 0 50px cyan ,
    0 0 100px cyan ,
    0 0 200px cyan ;
  }
  #new-btn {
    padding: 1rem;
    font-size: 2.25rem;
    background-color: #f8f880;
    color: #fd0a0a;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 5px rgb(248, 88, 83) ,
    0 0 25px rgb(248, 88, 83) ;
  }
  
  #new-btn:hover{
    box-shadow: 0 0 5px rgb(248, 88, 83) ,
    0 0 25px rgb(248, 88, 83) ,
    0 0 50px rgb(248, 88, 83) ,
    0 0 100px rgb(248, 88, 83) ,
    0 0 200px rgb(248, 88, 83) ;
    cursor: pointer;
  }
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }